@model TheaterApp.Models.Movie

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImdbRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImdbRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearReleased)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearReleased)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Budget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Budget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoxOffice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoxOffice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt class="col-sm-2">
            Authors
        </dt>
        <dd class="col-sm-10">
            @if (Model.MovieAuthors != null && Model.MovieAuthors.Any())
            {
                <ul>
                    @foreach (var movieAuthor in Model.MovieAuthors)
                    {
                        <li>@movieAuthor.Author.AuthorName</li>
                    }
                </ul>
            }
            else
            {
                <p>No authors available</p>
            }
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MovieID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
