@model TheaterApp.Models.Movie

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImdbRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImdbRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearReleased)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearReleased)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Budget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Budget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoxOffice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoxOffice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt class="col-sm-2">
            Authors
        </dt>
        <dd class="col-sm-10">
            @if (Model.MovieAuthors != null && Model.MovieAuthors.Any())
            {
                <ul>
                    @foreach (var movieAuthor in Model.MovieAuthors)
                    {
                        <li>@movieAuthor.Author.AuthorName</li>
                    }
                </ul>
            }
            else
            {
                <p>No authors available</p>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MovieID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
